/* 
    The Style Of Home Page
*/

/* Home Page Header - Contains the topbar and background img */
.mainPageHeader{
    width: 100%;
    min-width: 1150px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
}

/* Home Page Background Img */
.mainPageHeader .homePageHeaderImage{
    position: absolute;
    width: 100%;
    min-width: 1150px;
    height: 800px;
    /* max-height: 100%; */
    /* display: inline-flex; */
    object-fit: cover;
    float: left;
    filter: alpha(opacity = 30)；
}




.mainPageContainer .homePageTextWrapper{
    width: 700px;
    height: 300px;
    position: absolute;
    top: 20%;
    left: 15%;
    color: rgb(235, 255, 188);
    font-size: 100px;
    line-height: 60px;
    margin-bottom: 50px;
}
.mainPageContainer .homePageTextWrapper h2{
    font-size: 60px;
}