/*  
    The Style Of Topbar
*/

/* Topbar Wrapper - Transparent at the top of the page */
.topbarWrapper{
    width: 100%;
    min-width: 1150px;
    height: 50px;
    z-index: 9999;
    background-color: transparent;
}
.topbar{
    overflow: hidden;
}

/* Changes the height to 0 for making the transition effect when user scrolling down */

/* JSApply: Topbar - The style at the specific position */
.homePageWrapper .homePageTopbarDisappear{
    height: 0px;
}

/* JSApply: Topbar - The style after scolling down */
.homePageWrapper .homePageTopbarScrolling{
    /* width: 100%; */
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(#f6f6f7, #808080);
    box-shadow: 10px rgba(0, 0, 0, .5);
    transition: height 0.5s;
    /* overflow-x: hidden; */
    transition: height 0.5s;
}
.homePageWrapper .homePageTopbarScrolling .navDisappear,
.aboutMeWrapper .navDisappear{
    width: 0px;
}

/* JSApply: Topbar - The style at About Me Page */
.aboutMeWrapper .topbarWrapper,
.professionWrapper .topbarWrapper{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(#f6f6f7, rgb(6, 189, 189));
    box-shadow: 10px rgba(0, 0, 0, .5);
    transition: height 0.5s;
}
.aboutMeWrapper .topbar{
    overflow: visible;
}





/* 
    The Style Of The Icon In Topbar
*/

/* Icon Wrapper */
.iconWrapper{
    width: 180px;
    height: 50px;
    position: relative;
    float: left;
    padding: 0 10px;
}

/* Icon Image */
.iconImg{
    float: left;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: url(../img/home/icon.webp);
    background-size: contain;
    text-align: center;
    line-height: 50px;
}
/* The Name */
.iconWrapper span{
    display: block;
    float: left;
    height: 50px;
    width: 130px;
    margin-left: 10px;
    line-height: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}




/* 
    The Style Of Social Media List In Topbar
*/

/* Social Media List Wrapper */
.socialMedia{
    width: 200px;
    height: 50px;
    position: relative;
    float: left;
    left: -400px;
    z-index: 99990;
}

/* Social Media Icon */
.facebookLogo, 
.instagramLogo, 
.whatsappLogo, 
.lineLogo{
    float: left;
    top: 0;
    display: block;
    height: 50px;
    width: 30px;
    line-height: 50px;
    margin: 0 10px;
    font-size: 20px;
    text-align: center;
    /* color: #808080; */
    color: #fff;
    position: relative;
}

/* QR Code Container - The QR Code Box */
.whatsappLogo .whatsappQRCode,
.lineLogo .lineQRCode{
    display: block;
    left: -32.5px;
    top: 40px;
    width: 100px;
    height: 0px;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    color: black;
    background-color: #f6f6f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
    color: #808080;
    overflow: hidden;
    position: absolute;
    z-index: 99999;
    transition: height 0.3s;
}

/* The Small Triangle of QR Code */
.whatsappLogo::after,
.lineLogo::after{
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: #f7f6f6;
    top: -90px;
    left: 7px;
    margin: auto;
    z-index: 1000;
}

/*  QR Code Image */
.whatsappLogo .whatsappQRCode img,
.lineLogo .lineQRCode img{
    width: 90px;
    margin: 5px;
}

/* Animation of Whatsapp QR Code */
.whatsappLogo:hover .whatsappQRCode,
.whatsappLogo:hover::after{
    display: block;
    height: 125px;
}

/* Animation of Line QR Code */
.lineLogo:hover .lineQRCode,
.lineLogo:hover::after{
    display: block;
    height: 125px;
}





/* 
    The Style Of Nav List In Topbar


*/

/* Nav Content List */
.navList{
    width: 640px;
    margin: 0 auto;
    height: 50px;
    position: relative;
    right: 50px;
    float: right;
    overflow: hidden;
}



/* Different Navs */
.navList .homePage,
.navList .aboutMe,
.navList .profession,
.navList .diary{
    float: right;
    display: block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    margin: 0 30px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    position: relative;
}

/* The bar for representing the current page */
.navList .yellowBar{
    width: 0;
    height: 2px;
    background-color: rgb(207, 207, 20);
    position: absolute;
    bottom: 13px;
    left: 5px;
    transition: width 0.3s;
}

/* The position of bar under Diary */
.navList .diary .yellowBar{
    left: 25px;
}

/* Animation of the bar during hovering upward the nav content */
.navList .diary:hover .yellowBar{
    width: 50px;
}

.navList .homePage:hover .yellowBar,
.navList .aboutMe:hover .yellowBar,
.navList .profession:hover .yellowBar{
    width: 90px;
}

.homePageWrapper .homePage .yellowBar,
.aboutMeWrapper .aboutMe .yellowBar,
.professionWrapper .profession .yellowBar{
    width: 90px;
}




.homePageTextWrapper h3{
    font-size: 15px;
    color: rgb(90, 236, 176);
}
